.app-header {
  height: 100px;
  background-color: $main-clr-base;
  margin-block-end: 2em;
  box-shadow: inset 0px -5px 0px 0px rgb(251, 251, 251);

  .main-screen {
    position: fixed;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
    pointer-events: none;
    backdrop-filter: blur(5px);

    opacity: 0;
    z-index: 10;
    transition: opacity 0.6s;

    &.menu-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .main-title {
    font-size: 5em;

    @include for-mobile-layout {
      font-size: 4em;
    }
  }

  .main-nav {
    gap: 2em;

    @include for-mobile-layout {
      flex-direction: column;
      gap: 7em;

      width: 50%;
      height: 100dvh;

      position: fixed;
      top: 0;
      right: 0;
      padding-block-start: 3em;

      background-color: rgb(255 255 255);

      transform: translateX(100%);
      transition: transform 0.4s, box-shadow 0.4s;
      z-index: 10;

      &.menu-open {
        transform: translateX(0);
        box-shadow: -4px 0px 20px rgb(0 0 0 / 30%);
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          font-size: 3em;
          font-family: RobotoBold, sans-serif;
        }
      }
    }

    a {
      button {
        font-size: 1.8em;
        background-color: transparent;
      }

      &.active {
        position: relative;
        color: $clr-active-link;

        &::after {
          position: absolute;
          inset: auto 0 -5px auto;

          content: '';
          width: 100%;
          height: 2px;

          background-color: $clr-active-link;
        }
      }
    }
  }

  .btn-menu {
    background-color: transparent;
    display: none;

    @include for-mobile-layout {
      display: block;
    }

    &::before {
      font-family: faSolid;
      content: '\f0c9';

      font-size: 2.5em;
    }
  }
}
