.user-greet {
  gap: 1em;
  margin-block-end: 2em;

  h3 {
    font-size: 2em;
  }

  .btn-logout {
    gap: 1em;
    background-color: transparent;
    color: $clr-login-btn;
    text-decoration: underline;
  }
}
