.app-header {
  height: 100px;
  background-color: var(--main-clr-base);
  padding-inline: 2em;
}

.app-header .main-title {
  font-size: 4em;
}

.app-header .main-nav {
  gap: 1em;
}

.app-header .main-nav a {
  font-size: 1.6em;
}
