.app-header {
  height: 100px;
  background-color: var(--main-clr-base);
}

.app-header .main-title {
  font-size: 5em;
}

.app-header .main-nav {
  gap: 2em;
}

.app-header .main-nav a {
  font-size: 1.8em;
}
