.toy-preview {
  background-color: var(--main-clr-1);
  padding: 1.5em;
}

.toy-preview .toy-name {
  font-size: 2.5em;
  margin-block-end: 1em;
}

.toy-preview .toy-desc-container {
  gap: 1em;
  margin-block-end: 2em;
}

.toy-preview .toy-price {
  font-size: 1.6em;
}

.toy-preview .toy-stock {
  font-size: 1.4em;
}

.toy-preview .actions-container {
  gap: 0.7em;
}

.toy-preview .btn {
  background-color: white;
  padding: 0.5em;
}
