.toy-filter {
  padding: 1.5em 2.5em;
  margin-block-end: 2em;
  background-color: var(--main-clr--1);
}

.toy-filter .filter-title {
  font-size: 2.5em;
  margin-block-end: 0.5em;
}

.toy-filter form {
  gap: 1em;
}

.toy-filter form > :is(input, select) {
  padding: 0.5em;
}
