.about {
  @include box;

  @include for-narrow-layout {
    flex-direction: column;
  }

  padding: 3em;
  gap: 2em;

  .about-title {
    font-size: 3em;
    margin-block-end: 1em;
  }

  .greet {
    margin-block-end: 1em;
    font-size: 2em;
    color: $main-clr-1;
  }

  .about-desc {
    gap: 1.6em;
    margin-block-end: 3em;
  }

  .about-desc p {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  .map {
    width: 60%;

    @include for-narrow-layout {
      width: 100%;
    }
  }
}
