.home-page {
  gap: 1em;

  .welcome-container {
    flex-grow: 1;

    .main-title {
      margin-block-end: 0.5em;

      font-size: 5em;
      font-family: RobotoBold, sans-serif;
      letter-spacing: -0.6px;
    }

    .secondary-title {
      margin-block-end: 3em;
      font-size: 2.5em;
    }

    .btn-cta {
      position: relative;

      padding: 1em;
      border-radius: 2em;

      font-size: 1.8em;
      color: $clr-gray--1;
      background-color: $clr-login-btn;

      &:hover {
        scale: 1.1;
        padding-inline-end: 2.5em;

        &::after {
          opacity: 1;
        }
      }

      &::after {
        position: absolute;
        right: 0.8em;

        font-family: faSolid;
        content: '\f30b';

        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }

  img {
    max-width: 50%;
  }
}
