.login-signup {
  @include box;

  max-width: 50%;
  padding: 4em 0;
  margin: auto;

  h1 {
    margin-block-end: 1em;
    font-size: 4em;
    text-align: center;
  }

  button {
    background-color: transparent;
    font-size: 1.3em;
  }
}
