.toy-details {
  @include box;

  padding: 2.5em;
  margin: auto;
  margin-block-end: 2em;

  .btn-back {
    background-color: transparent;
    margin-block-end: 3em;

    &::before {
      font-family: faSolid;
      content: '\f060';
      font-size: 1.5em;
    }
  }

  .main-container {
    gap: 5em;
    margin-block-end: 4em;

    @include for-narrow-layout {
      flex-direction: column-reverse;
      align-items: center;
    }

    .details-container {
      gap: 1em;

      .toy-name {
        font-size: 3em;
      }

      .toy-price {
        font-size: 2em;
        margin-block-end: 1em;
      }

      .toy-labels {
        gap: 1em;
        flex-wrap: wrap;

        .label {
          font-size: 1.5em;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          color: $main-clr-base;
        }
      }

      .toy-desc {
        font-size: 1.6em;
        line-height: 1.6em;
        text-align: justify;
      }

      .toy-stock {
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
        color: $clr-in-stock;
        margin-block-end: 3em;

        &.out-stock {
          color: $clr-out-stock;
        }
      }
    }

    .toy-img {
      width: 50%;

      @include for-narrow-layout {
        width: 60%;
      }
    }
  }

  .msgs-reviews-container {
    @include for-mobile-layout {
      flex-direction: column;

      gap: 6em;

      > * {
        min-width: 80%;
      }
    }

    > * {
      width: 50%;
    }

    form {
      gap: 0.5em;
      margin-block-end: 1.5em;

      .msg-input,
      .review-input {
        @include for-mobile-layout {
          width: 100%;
        }

        width: 50%;
        padding: 0.5em;
        border: 1.5px solid $clr-gray-1;

        font-family: inherit;
      }

      .btn-add-msg,
      .btn-add-review {
        width: 4em;
        border: 1.5px solid $clr-gray-1;

        font-size: 1.6em;
        background-color: $clr-login-btn;
        color: $clr-gray--1;
      }
    }

    .msgs-title,
    .reviews-title {
      font-size: 2em;
      margin-block-end: 0.5em;
    }

    ul {
      gap: 0.8em;
      margin-block-end: 1em;
    }

    .toy-msg,
    .toy-review {
      .msg-txt,
      .review-txt {
        font-size: 1.6em;
      }

      .msg-by,
      .review-by {
        font-size: 0.8em;
        color: $clr-gray-1;
      }

      .btn-remove-msg,
      .btn-remove-review {
        background-color: transparent;

        &::before {
          font-family: faSolid;
          content: '\f1f8';
          color: $clr-active-link;
          font-size: 1em;
        }
      }
    }

    .no-msgs,
    .no-reviews {
      font-size: 1.2em;
      color: $clr-gray-1;
    }
  }

  .typing-msg {
    font-size: 1.3em;
    font-style: italic;
    color: $clr-gray-1;
  }
}
