:root {
  --main-fn-color: #202124;

  --main-clr-1: rgb(251, 193, 85);
  --main-clr-base: rgb(255, 206, 114);

  --clr-success: rgb(152, 232, 152);
  --clr-error: rgb(243, 150, 150);

  --clr-in-stock: rgb(41, 209, 41);
  --clr-out-stock: rgb(243, 64, 64);
}
